images/*
*.pyc
__pycache__
*.jpg
*.engine
*.trt
*.so
.vscode/
*.o
*.onnx
*.log
data/features/*
data/aligned_faces/*
data/known_faces/*
data/recognized/*
logs/*
data/faces/*
gst-nvinfer-custom/**/lib*.so
gst-nvinfer-custom/**/**/*.o
gst-nvinfer-custom/**/**/test_align_compare
third_party
!third_party/faiss
cpp/roi_helper/build/cmake_install.cmake
cpp/roi_helper/build/CMakeCache.txt
cpp/roi_helper/build/Makefile
cpp/roi_helper/build/CMakeFiles/cmake.check_cache
cpp/roi_helper/build/CMakeFiles/CMakeConfigureLog.yaml
cpp/roi_helper/build/CMakeFiles/CMakeDirectoryInformation.cmake
cpp/roi_helper/build/CMakeFiles/InstallScripts.json
cpp/roi_helper/build/CMakeFiles/Makefile.cmake
cpp/roi_helper/build/CMakeFiles/Makefile2
cpp/roi_helper/build/CMakeFiles/progress.marks
cpp/roi_helper/build/CMakeFiles/TargetDirectories.txt
cpp/roi_helper/build/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
cpp/roi_helper/build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
cpp/roi_helper/build/CMakeFiles/4.1.1/CMakeSystem.cmake
cpp/roi_helper/build/CMakeFiles/4.1.1/CompilerIdCXX/a.out
cpp/roi_helper/build/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/build.make
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/cmake_clean.cmake
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/compiler_depend.internal
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/compiler_depend.make
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/compiler_depend.ts
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/depend.make
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/DependInfo.cmake
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/flags.make
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/link.txt
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/progress.make
cpp/roi_helper/build/CMakeFiles/roi_helper.dir/roi_helper.cpp.o.d
core_v2/jute.cpp
core_v2/jute.h
core_v2/main.cpp
core_v2/main.cpp3
core_v2/main1.cpp1
core_v2/test.cpp1
core_v2/xcommon.h
core_v2/xguard.cpp
core_v2/xguard.h
core_v2/xloader.cpp
core_v2/xloader.h
core_v2/xmqtt.cpp
core_v2/xmqtt.h
core_v2/xservice.cpp
core_v2/xservice.h
data/index/faiss.index
data/index/labels.json
data/index/faiss.index
data/index/labels.json
