images/*
*.pyc
__pycache__
*.jpg
*.engine
*.trt
*.so
.vscode/
*.o
*.onnx
*.log
data/features/*
data/aligned_faces/*
data/known_faces/*
data/recognized/*
logs/*
data/faces/*
gst-nvinfer-custom/**/lib*.so
gst-nvinfer-custom/**/**/*.o
gst-nvinfer-custom/**/**/test_align_compare
third_party
!third_party/faiss
cpp_src/cpp/roi_helper/build
data/index/faiss.index
data/index/labels.json
cpp_src/build
cpp_src/test
cpp_src/build
