images/*
*.pyc
__pycache__
*.jpg
*.engine
*.trt
*.so
.vscode/
*.o
*.onnx
*.log
data/features/*
data/aligned_faces/*
data/known_faces/*
data/recognized/*
logs/*
data/faces/*
gst-nvinfer-custom/**/lib*.so
gst-nvinfer-custom/**/**/*.o
gst-nvinfer-custom/**/**/test_align_compare
third_party
!third_party/faiss
cpp_src/cpp/roi_helper/build
data/index/faiss.index
data/index/labels.json
cpp_src/build
cpp_src/test
cpp_src/build/*
cpp_src/build/cmake_install.cmake
cpp_src/build/CMakeCache.txt
cpp_src/build/libedge_utils.a
cpp_src/build/Makefile
cpp_src/build/CMakeFiles/CMakeConfigureLog.yaml
cpp_src/build/CMakeFiles/Makefile.cmake
cpp_src/build/CMakeFiles/Makefile2
cpp_src/build/CMakeFiles/progress.marks
cpp_src/build/CMakeFiles/edge_deepstream.dir/build.make
cpp_src/build/CMakeFiles/edge_deepstream.dir/cmake_clean.cmake
cpp_src/build/CMakeFiles/edge_deepstream.dir/compiler_depend.make
cpp_src/build/CMakeFiles/edge_deepstream.dir/DependInfo.cmake
cpp_src/build/CMakeFiles/edge_deepstream.dir/flags.make
cpp_src/build/CMakeFiles/edge_deepstream.dir/link.txt
cpp_src/build/CMakeFiles/edge_deepstream.dir/progress.make
cpp_src/build/CMakeFiles/edge_utils.dir/compiler_depend.make
cpp_src/build/CMakeFiles/edge_utils.dir/flags.make
cpp_src/build/CMakeFiles/edge_utils.dir/progress.make
cpp_src/build/CMakeFiles/edge_utils.dir/utils/probe.cpp.o.d
